{{ define "main" }}
<main>
    <div class="container">
        <div class="row odin-main">
            <!-- Left menu -->
            {{ partial "sidebar" . }}

            <!-- Content -->
            <article class="col-lg-8 p-4">
                <header>
                    <nav aria-label="breadcrumb">
                        {{ $rellink := "" }}
                        <ol class="breadcrumb">
                            {{ range (split .RelPermalink "/") }}
                                {{ if gt (len . ) 0 -}}
                                    {{ $rellink = printf "%s/%s" $rellink . }}
                                    <li class="breadcrumb-item"><a href="{{ $rellink }}">{{ humanize . }}</a></li>
                                {{ end }}
                            {{ end }}
                        </ol>
                    <h1>{{ .Title }}</h1>
                </header>
                <div class="odin-article">
                    <!-- {{ .Content }} -->

                    <!-- Add anchors to links -->
                    {{ .Content | replaceRE "(<h[2-9] id=\"([^\"]+)\".+)(</h[2-9]+>)" "${1} <a class=\"text-decoration-none\" href=\"#${2}\">#</a>${3}" | safeHTML }}
                </div>
            </article>

            <!-- Right menu -->
            {{ if ne .TableOfContents "<nav id=\"TableOfContents\"></nav>" }}
            <div id="TOC" class="col-lg-2 odin-toc-border">
                <div class="sticky-top odin-below-navbar py-3">
                    {{ .TableOfContents }}
                </div>
            </div>
            {{ end }}

            <!-- Right menu set clicked link to active -->
            <script type="text/javascript">
                var nav = document.getElementById("TableOfContents")
                var links = nav.getElementsByTagName("a")
                var lists = nav.getElementsByTagName("li")

                for (var i = 0; i < links.length; i++) {
                    // links[i].addEventListener("click", function() {
                    //     for (var j = 0; j < links.length; j++) {
                    //         links[j].classList.remove("active")
                    //     }

                    //     this.classList.add("active")
                    // })
                    
                    // Check the URL fragment and add the active class to the corresponding link
                    // if (links[i].hash === window.location.hash) {
                    //     links[i].classList.add("active");
                    // }
                    links[i].classList.add("nav-link")
                }


                nav.classList.add("nav")
                nav.classList.add("nav-pills")

                for (var i = 0; i < lists.length; i++) {
                    lists[i].classList.add("nav-item")
                }
            </script>
        </div>
    </div>
</main>
{{ end }}
