$blue: #3882d2;
$orange: #ef7a30;

$primary: $blue;
$secondary: $orange;

@import "../node_modules/bootstrap/scss/bootstrap";

// Fix text buttons with blue background being black instead of white
.btn-outline-primary:hover {
    color: $light;
}

.example-code pre {
    margin-bottom: 0.5em;
}

.home-code-example {
    // max-height: 31rem;
    max-height: 18rem;
}

#jangafx-companies {
    img {
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
        mix-blend-mode: multiply;
    }
}

#jangafx-companies {
    img {
        width: 100%;
        max-width: 1000px;
    }
}

// #vendor-packages {
// }
