{{ define "main" }}
<main>
    <section class="section-style-1">
        <div class=" container d-flex flex-column justify-content-center align-items-center text-center p-5 ">
            <img class="img-fluid mb-5 hero-logo" src="/logo.svg" height="120" alt="Odin" />
            <h1 class="fw-normal"><b>Odin</b> Programming Language</h1>
            <h2 class="fw-normal">{{ .Site.Params.Slogan }}</h2>
            <div class="mt-3">
                <a href="/docs/overview" class="btn btn-secondary text-light">
                    Overview
                </a>
                <a href="/docs/install" class="btn btn-outline-light">
                    Download
                </a>
            </div>
        </div>
    </section>

    <section class="section-style-2" id="example">
        <div class="container py-5">
            <div class="row g-4">
                <div class="col-lg col-lg-6">
                    <h2 class="mb-4">Programming Done Right</h2>
                    <p>
                        Odin is a general-purpose programming language with distinct typing, built for high performance, modern systems, and built-in data-oriented data types. The Odin Programming Language, the C alternative for the joy of programming.
                    </p>
                    <a href="/docs" class="btn btn-outline-primary">
                        Read the Docs
                    </a>
                    <a href="https://github.com/odin-lang/Odin/blob/master/examples/demo/demo.odin" class="btn btn-outline-primary">
                        See the Full Demo
                    </a>
                </div>
                <div class="col-lg col-lg-6">
                    <div class="tab-content">
                        <select class="form-select mb-2" id="example-code-select">
                            <option id="example-1-select" value="example-1-code">Hellope</option>
                            <option id="example-2-select" value="example-2-code">Array Programming</option>
                            <option id="example-3-select" value="example-3-code">SOA Types</option>
                            <option id="example-4-select" value="example-4-code">Context System</option>
                            <option id="example-5-select" value="example-5-code">Reflection</option>
                        </select>
                        <div
                            class="tab-pane show active example-code"
                            id="example-1-code"
                            role="option"
                            aria-labelledby="example-1-code"
                        >
                            <pre><code class="language-odin border-start border-end border-bottom home-code-example"
                                >{{ partial "odin-examples/hellope" }}</code
                            ></pre>
                        </div>
                        <div
                            class="tab-pane example-code"
                            id="example-2-code"
                            role="option"
                            aria-labelledby="example-2-code"
                        >
                            <pre><code class="language-odin border-start border-end border-bottom home-code-example"
                                >{{ partial "odin-examples/array-programming" }}</code
                            ></pre>
                        </div>
                        <div
                            class="tab-pane example-code"
                            id="example-3-code"
                            role="option"
                            aria-labelledby="example-3-code"
                        >
                            <pre><code class="language-odin border-start border-end border-bottom home-code-example"
                                >{{ partial "odin-examples/soa-structs" }}</code
                            ></pre>
                        </div>
                        <div
                            class="tab-pane example-code"
                            id="example-4-code"
                            role="option"
                            aria-labelledby="example-4-code"
                        >
                            <pre><code class="language-odin border-start border-end border-bottom home-code-example"
                                >{{ partial "odin-examples/context-system" }}</code
                            ></pre>
                        </div>
                        <div
                            class="tab-pane example-code"
                            id="example-5-code"
                            role="option"
                            aria-labelledby="example-5-code"
                        >
                            <pre class="home-code-example"><code class="language-odin border-start border-end border-bottom"
                                >{{ partial "odin-examples/reflection" }}</code
                            ></pre>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="bg-secondary text-light">
        <div class="container py-5">
            <div
                class="
                    row
                    justify-content-center
                    align-items-center
                    text-center
                    gy-2
                "
            >
                <div class="col-auto mx-2">
                    <h2>Join the Odin community on Discord.</h2>
                </div>
                <div class="col-auto mx-2">
                    <a href="https://discord.com/invite/sVBPHEv" class="btn btn-outline-light">Join Discord</a>
                </div>
            </div>
        </div>
    </section>

    <section class="section-style-3" id="principles">
        <div class="container py-5">
            <h2 class="mb-4">The Odin Principles</h2>
            <div class="row g-4">
                <div class="col-lg">
                    <h3 class="fw-normal">Simplicity</h3>
                    <p>
                        Odin has been designed on things like readability, scalability, and orthogonality of concepts. Simplicity is complicated to get right, clear is better than clever.
                    </p>
                </div>
                <div class="col-lg">
                    <h3 class="fw-normal">High Performance</h3>
                    <p>
                        Odin allows for the highest performance through low-level control over the memory layout, <a href="/docs/overview/#implicit-context-system">memory management</a> and custom <a href="/docs/overview/#allocators">allocators</a> and so much more.
                    </p>
                </div>
                <div class="col-lg">
                    <h3 class="fw-normal">For Modern Systems</h3>
                    <p>
                        Odin is designed from the bottom up for the modern computer, with built-in support for SOA data types, <a href="/docs/overview/#fixed-arrays">array programming</a>, and other features.
                    </p>
                    <!--<p>
                        No need to pretend you are programming for a PDP-11 anymore. -kek
                    </p>-->
                </div>
                <div class="col-lg">
                    <h3 class="fw-normal">Joy of Programming</h3>
                    <p>
                        We go into programing because we love to solve problems. Why shouldn't our tools bring us joy whilst doing it? Enjoy programming again, with Odin!
                    </p>
                </div>
            </div>
            <div class="d-flex justify-content-center mt-2">
                <a href="/docs/overview" class="btn btn-outline-primary">
                    See Overview
                </a>
            </div>
        </div>
    </section>

    <section class="section-style-1" id="users">
        <div class="container py-5">
            <h2 class="mb-4">Odin in Production</h2>
            <div class="row g-4">
                <div class="col-lg">
                    <p>
                        <a href="https://jangafx.com/" target="_blank" class="link-light">JangaFX</a> are the creators of the 3D animation software <a href="https://jangafx.com/software/embergen/" target="_blank" class="link-light">EmberGen</a> written <i>fully</i> in Odin.
                    </p>
                    <p>
                        <a href="https://jangafx.com/software/embergen/" target="_blank" class="link-light">EmberGen</a> is a real-time volumetric fluid simulator that can instantly simulate, render, and export flipbooks, image sequences, and VDB volumes. With EmberGen, you can create anything from fire and smoke, to explosions and magic wisps. EmberGen gives you the creative freedom to iterate on your simulations in a few milliseconds instead of hours.
                    </p>
                    <p>
                        Through EmberGen, Odin runs in production among the giants of the games and film industries: Bethesda, CAPCOM, Codemasters, THQNordic, Warner Bros, Weta Digital, and many others.
                    </p>
                    <div class="pt-4">
                        <a href="https://jangafx.com/" target="_blank" class="link-light text-decoration-none">
                            <img src="/jangafx/logo.png" alt="JangaFX" height="48px" />
                            <h3 class="d-inline"> &nbsp;Janga<span style="color: #1b4694">FX</span></h3>
                        </a>
                        <span class="px-2"></span>
                        <a href="https://jangafx.com/software/embergen/" target="_blank" class="link-light text-decoration-none">
                            <img src="/jangafx/em_logo.png" alt="EmberGen" height="48px" />
                            <h3 class="d-inline"> &nbsp;Ember<span style="color: #ed5c03">Gen</span></h3>
                        </a>
                    </div>
                </div>
                <div class="col-lg">
                    <div
                        class="d-flex flex-wrap justify-content-center"
                        style="background-color: black"
                    >
                        <video width="33%" autoplay="" loop="" muted="" data-vscid="auqox1ke2"><source src="https://jangafx.com/videos/gallery/explosion.mp4?v=2" /></video>
                        <video width="33%" autoplay="" loop="" muted="" data-vscid="5vx9sz37u"><source src="https://jangafx.com/videos/gallery/engulf.mp4?v=1" /></video>
                        <video width="33%" autoplay="" loop="" muted="" data-vscid="ev0y2nc6k"><source src="https://jangafx.com/videos/gallery/flares.mp4?v=1" /></video>
                        <video width="33%" autoplay="" loop="" muted="" data-vscid="jrh7qxfz3"><source src="https://jangafx.com/videos/gallery/fireball.mp4?v=1" /></video>
                        <video width="33%" autoplay="" loop="" muted="" data-vscid="ex1zqo98m"><source src="https://jangafx.com/videos/gallery/heavy_smoke.mp4?v=1" /></video>
                        <video width="33%" autoplay="" loop="" muted="" data-vscid="qeumrb7hb"><source src="https://jangafx.com/videos/gallery/spell.mp4?v=1" /></video>
                    </div>
                </div>
            </div>
            <div class="pt-5 text-center" id="jangafx-companies">
                <img class="mx-4 mb-2" height="80px" src="/jangafx/companies/arkane.png" alt="Arkane" />
                <img class="mx-4 mb-2" height="80px" src="/jangafx/companies/bethesda.png" alt="Bethesda Game Studio" />
                <img class="mx-4 mb-2" height="80px" src="/jangafx/companies/capcom.png" alt="Capcom" />
                <img class="mx-4 mb-2" height="80px" src="/jangafx/companies/certainaffinity.png" alt="Certain Affinity" />
                <img class="mx-4 mb-2" height="80px" src="/jangafx/companies/codemasters.png" alt="Codemasters" height="64px" />
                <img class="mx-4 mb-2" height="80px" src="/jangafx/companies/disruptive.png" alt="Disruptive" />
                <img class="mx-4 mb-2" height="80px" src="/jangafx/companies/fxville.png" alt="FXVille" />
                <img class="mx-4 mb-2" height="80px" src="/jangafx/companies/gearbox.png" alt="Gearbox" />
                <img class="mx-4 mb-2" height="80px" src="/jangafx/companies/housemarque.png" alt="HouseMarque" />
                <img class="mx-4 mb-2" width="90px" src="/jangafx/companies/theastronauts1.png" alt="The Astronauts" />
                <img class="mx-4 mb-2" height="80px" src="/jangafx/companies/thqnordic.png" alt="THQNordic" />
                <img class="mx-4 mb-2" height="80px" src="/jangafx/companies/turtlerock.png" alt="Turtle Rock Studios" />
                <img class="mx-4 mb-2" height="64px" src="/jangafx/companies/wbgames.png" alt="WB Games" height="36px" />
                <img class="mx-4 mb-2" height="80px" src="/jangafx/companies/weta.png" alt="Weta Digital" />
                <img class="mx-4 mb-2" height="80px" src="/jangafx/companies/zenimax.png" alt="Zenimax Media Inc." />

                <p class="pt-4 text-light opacity-50 text-center">
                    All product names, logos, and brands are property of their respective owners.
                </p>
            </div>
        </div>
    </section>

    <section class="section-style-3" id="batteries-included">
        <div class="container py-5">
            <div class="row g-4">
                <div class="col-lg">
                    <h2 class="mb-4">Batteries Included</h2>
                    <div>
                        <p>
                            Odin comes with high quality packages out of the box in its <a href="https://github.com/odin-lang/Odin/tree/master/core" target="_blank"><code>core</code></a> library.
                        </p>
                        <p>
                            Odin additionally brings you officially maintained bindings for popular libraries such as <a href="https://github.com/odin-lang/Odin/tree/master/vendor/sdl2" target="_blank">SDL2</a>, <a href="https://github.com/odin-lang/Odin/tree/master/vendor/glfw" target="_blank">GLFW</a>, <a href="https://github.com/odin-lang/Odin/tree/master/vendor/raylib" target="_blank">raylib</a>, <a href="https://github.com/odin-lang/Odin/tree/master/vendor/OpenGL" target="_blank">OpenGL</a>, <a href="https://github.com/odin-lang/Odin/tree/master/vendor/vulkan" target="_blank">Vulkan</a>, and much more, in its <a href="https://github.com/odin-lang/Odin/tree/master/vendor" target="_blank"><code>vendor</code></a> library!
                        </p>
                    </div>
                    <div class="mt-3">
                        <a
                            href="https://github.com/odin-lang/Odin/tree/master/core"
                            target="_blank"
                            class="btn btn-outline-primary"
                        >
                            See Core Library
                        </a>
                        <a
                            href="https://github.com/odin-lang/Odin/tree/master/vendor"
                            target="_blank"
                            class="btn btn-outline-primary"
                        >
                            See Vendor Library
                        </a>
                    </div>
                </div>
                <div class="col-lg text-center pt-4" id="vendor-packages">
                    <img class="mx-4 mb-4" height="64px" src="/vendor/companies/Simple_DirectMedia_Layer_Logo.svg" alt="Simple DirectMedia Layer" />
                    <img class="mx-4 mb-4" height="64px" src="/vendor/companies/raylib_64x64.png" alt="raylib" />
                    <img class="mx-4 mb-4" height="64px" src="/vendor/companies/opengl_logo.png" alt="OpenGL" />
                    <img class="mx-4 mb-4" height="64px" src="/vendor/companies/Vulkan_logo.svg" alt="Vulkan" />

                    <p class="pt-4 text-muted opacity-50 text-center">All product names, logos, and brands are property of their respective owners.</p>
                </div>
            </div>
        </div>
    </section>

    <section class="section-style-2" id="community">
        <div class="container py-5">
            <h2 class="mb-4">The Odin Community</h2>
            <div class="row g-4">
                <div class="col-lg">
                    <h3 class="mb-4">Odin is Open Source</h3>
                    <p>
                        Odin is an open source programming language and contributions from the community are welcome!
                        If you want to help out, check the <a href="https://github.com/odin-lang/odin/issues" target="_blank">issue tracker</a> for open issues that may interest you. Those labelled <a href="https://github.com/odin-lang/Odin/issues?q=is%3Aopen+is%3Aissue+label%3A%22help+wanted%22" target="_blank">help wanted</a> are in particular need of community assistance right now.
                    </p>
                    <p>
                        Join the Odin Discord and help us bring the joy of programming in Odin to all. 🥳
                    </p>
                    <div class="mt-3">
                        <a
                            href="https://github.com/odin-lang/Odin"
                            target="_blank"
                            class="btn btn-outline-primary"
                        >
                            Browse Source
                        </a>
                        <a
                            href="https://discord.com/invite/sVBPHEv"
                            target="_blank"
                            class="btn btn-outline-primary"
                        >
                            Join Discord
                        </a>
                    </div>
                </div>
                <div class="col-lg">
                    <h3 class="mb-4">Thank You!</h3>
                    <div class="mb-3">
                        <a href="https://www.patreon.com/gingerbill">
                            <div style=" background-color: #ff424d; height: 100px !important; width: 250px; ">
                                <img src="/Digital-Patreon-Wordmark_White.png" alt="Odin Patreon" style="margin: 25px auto; width: 100%"/>
                            </div>
                        </a>
                    </div>
                    <!-- Yeah... this is not great at all. -->
                    <p>And all our Patreon supporters.</p>
                    <div class="mt-3">
                        <a
                            href="https://www.patreon.com/gingerbill"
                            target="_blank"
                            class="btn btn-outline-primary"
                        >
                            Sponsor Odin
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<script>
    document.getElementById("example-code-select").addEventListener("change", function (event) {
        document.querySelectorAll(".example-code").forEach((o) => o.classList.remove("active", "show"));
        document.getElementById(event.target.value).classList.add("active", "show");
    });
</script>
{{ end }}
