<footer>{{ with .Site.Params.footer }}
{{ . | markdownify }}
{{ end }}</footer>
</div>
</body>
<script async src="//mathjax.rstudio.com/latest/MathJax.js?config=TeX-MML-AM_CHTML"></script>
<script>
  (function addHeadingLinks(){
    var article = document.getElementsByClassName('article-meta')[0];
    var headings = article.querySelectorAll('h1, h2, h3');
    headings.forEach(function(heading){
      if (heading.id){
        var a = document.createElement('a');
        a.innerHTML = heading.innerHTML;
        a.href = '#'+heading.id;
        heading.innerHTML = '';
        heading.appendChild(a);
      }
    });
  })();

  const DARK  = '(prefers-color-scheme: dark)';
  const LIGHT = '(prefers-color-scheme: light)';

  function setColourScheme(scheme) {
    console.log(scheme);
    if (scheme == 'dark') {

    } else if (scheme == 'light') {

    }
  }


  (function changeStyle(){
    function detectColourScheme() {
      if (!window.matchMedia) {
        return;
      }

      function listener({matches, media}) {
        if (!matches) {
          return;
        }
        if (media == DARK) {
          setColourScheme('dark');
        } else if (media == LIGHT) {
          setColourScheme('light');
        }
      }

      const mqDark  = window.matchMedia(DARK);
      const mqLight = window.matchMedia(LIGHT);
      mqDark.addListener(listener);
      mqLight.addListener(listener);
    }
  })();
</script>
</html>
