<footer>
    <p id="footerLeft">
        {{ with .Site.Params.copyright }}
          {{ . | markdownify }}
        {{ end }}
    </p>
    <p id="footerRight">
      <a href="https://discord.gg/sVBPHEv"><img style="height:35px" src="/images/social/Discord-Logo-Color.png"></a> 
      <a href="https://github.com/odin-lang/Odin"><img style="height:32px" src="/images/social/GitHub-Mark-32px.png"></a> 
      <a href="https://www.patreon.com/gingerbill"><img style="height:32px" src="/images/social/become_a_patron_button.png"></a>
    </p>
</footer>
</div>
</body>
<script async src="//mathjax.rstudio.com/latest/MathJax.js?config=TeX-MML-AM_CHTML"></script>
<script>
  (function addHeadingLinks(){
    var article = document.getElementsByClassName('article-meta')[0];
    var headings = article.querySelectorAll('h1, h2, h3');
    headings.forEach(function(heading){
      if (heading.id){
        var a = document.createElement('a');
        a.innerHTML = heading.innerHTML;
        a.href = '#'+heading.id;
        heading.innerHTML = '';
        heading.appendChild(a);
      }
    });
  })();

  const DARK  = '(prefers-color-scheme: dark)';
  const LIGHT = '(prefers-color-scheme: light)';

  function setColourScheme(scheme) {
    console.log(scheme);
    if (scheme == 'dark') {

    } else if (scheme == 'light') {

    }
  }


  (function changeStyle(){
    function detectColourScheme() {
      if (!window.matchMedia) {
        return;
      }

      function listener({matches, media}) {
        if (!matches) {
          return;
        }
        if (media == DARK) {
          setColourScheme('dark');
        } else if (media == LIGHT) {
          setColourScheme('light');
        }
      }

      const mqDark  = window.matchMedia(DARK);
      const mqLight = window.matchMedia(LIGHT);
      mqDark.addListener(listener);
      mqLight.addListener(listener);
    }
  })();
</script>
</html>
