<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {{ partial "meta_cards.html" . }}


  <title>{{if not .IsHome }}{{ .Title }} - {{end}}{{ .Site.Title }}</title>

  <link rel="stylesheet" href="/css/normalize.css" />

  <script>
    // If `prefers-color-scheme` is not supported, fall back to light mode.
    // In this case, light.css will be downloaded with `highest` priority.
    if (window.matchMedia('(prefers-color-scheme)').media === 'not all') {
      document.documentElement.style.display = 'none';
      document.head.insertAdjacentHTML(
          'beforeend',
          '<link rel="stylesheet" href="/css/light.css" onload="document.documentElement.style.display = ``">',
          '<link rel="stylesheet" href="/highlight/styles/a11y-light.css" onload="document.documentElement.style.display = ``">'
      );
    }
  </script>
  <!--
    Conditionally either load the light or the dark stylesheet. The matching file
    will be downloaded with `highest`, the non-matching file with `lowest`
    priority. If the browser doesn't support `prefers-color-scheme`, the media
    query is unknown and the files are downloaded with `lowest` priority (but
    above I already force `highest` priority for my default light experience).
  -->
  <link rel="stylesheet" href="/css/dark.css" media="(prefers-color-scheme: dark)">
  <link rel="stylesheet" href="/css/light.css" media="(prefers-color-scheme: no-preference), (prefers-color-scheme: light)">
  <link rel="stylesheet" href="/css/style.css">

  <link rel="stylesheet" href="/highlight/styles/a11y-dark.css" media="(prefers-color-scheme: dark)">
  <link rel="stylesheet" href="/highlight/styles/a11y-light.css" media="(prefers-color-scheme: no-preference), (prefers-color-scheme: light)">
  <script src="/highlight/highlight.pack.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-67516878-2"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-67516878-2');
  </script>

  <!-- Favicons-->
  <link rel="apple-touch-icon" sizes="57x57" href="/favicons/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/favicons/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/favicons/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/favicons/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/favicons/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/favicons/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/favicons/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/favicons/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="/favicons/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/favicons/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicons/favicon-16x16.png">
  <link rel="manifest" href="/favicons/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/favicons/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">

</head>
<body>
<div class="wrapper">
<header>
  <nav>
    <h1 id="logo"><a href="/"><img src="/images/logo-icon.png" alt="Odin" id="nav-log"></a></h1>
    <ul class="menu">
      {{ range .Site.Menus.main }}
      <li><a href="{{ .URL | relURL }}">{{ .Name }}</a></li>{{ end }}
    </ul>
  </nav>
</header>
