<header class="sticky-top">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary odin-menu">
        <div class="container-xxl">
            <a class="navbar-brand" href="/">
                {{ if .IsHome }}
                    <img src="/logo.svg" height="30" alt="Odin" id="navbar-logo" class="d-none" />
                {{ else }}
                    <img src="/logo.svg" height="30" alt="Odin" id="navbar-logo" />
                {{ end }}
            </a>

            <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#odin-navbar-content"
                aria-controls="odin-navbar-content"
                aria-expanded="false"
                aria-label="Toggle navigation"
            >
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="odin-navbar-content">
                <ul class="navbar-nav ms-md-auto">
                    {{ $currentPage := . }}
                    {{ range .Site.Menus.main }}
                    <li class="nav-item">
                        <!-- NOTE(Wojciech): This is not the way they tell you to do this in the docs but the way in the docs is broken.
                        Presumably we can change this when they fix it (haven't for 3 years). -->
                        {{ $active := or (eq $currentPage.RelPermalink .URL) (and (in $currentPage.RelPermalink .URL) (ne .URL "/")) }}
                        <a
                            class="nav-link{{if $active}} active{{end}}"
                            href="{{.URL}}"
                            {{if $active}}aria-current="page"{{end}}
                            {{if in .URL "github.com"}}target="_blank"{{end}}
                            >{{.Name}}</a
                        >
                    </li>
                    {{ end }}
                    <li class="nav-item">
                        <a
                            class="nav-link btn-dark-mode"
                            onclick="toggleDarkMode();"
                            title="Toggle Light/Dark Mode"
                        >
                            <span class="dark-mode-appearance">Appearance:</span>
                            <svg fill="white" id="dark-mode-icon" viewBox="0 0 384 512"><path d="M223.5 32C100 32 0 132.3 0 256S100 480 223.5 480c60.6 0 115.5-24.2 155.8-63.4c5-4.9 6.3-12.5 3.1-18.7s-10.1-9.7-17-8.5c-9.8 1.7-19.8 2.6-30.1 2.6c-96.9 0-175.5-78.8-175.5-176c0-65.8 36-123.1 89.3-153.3c6.1-3.5 9.2-10.5 7.7-17.3s-7.3-11.9-14.3-12.5c-6.3-.5-12.6-.8-19-.8z"/></svg>
                            <svg fill="white" id="light-mode-icon" viewBox="0 0 16 16">
                              <path d="M8 12a4 4 0 1 0 0-8 4 4 0 0 0 0 8M8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0m0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13m8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5M3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8m10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.415a.5.5 0 1 1-.707-.708l1.414-1.414a.5.5 0 0 1 .707 0m-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0m9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707M4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 1 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .708"/>
                            </svg>
                        </button>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>