<div class="newsletter-polaroid">
	<div class="embed video-player">
		<!-- <iframe class="youtube-player" type="text/html" width="100%" height="100%" src="https://www.youtube.com/embed/{{ index .Params 1 }}" allowfullscreen frameborder="0"> -->
		<!-- <iframe class="youtube-player" type="text/html" width="640" height="385" src="https://www.youtube.com/embed/{{ index .Params 1 }}" allowfullscreen frameborder="0"> -->
		<iframe class="youtube-player" type="text/html" width="100%" height="450" src="https://www.youtube.com/embed/{{ index .Params 1 }}" allowfullscreen frameborder="0">
		</iframe>
	</div>

	<div class="newsletter-text">{{ index .Params 0 }}</div>
</div>